* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-white: #ffffff;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-300: #8d8d99;
  --color-base-gray-900: #202024;

  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main {
  overflow-y: scroll;
  background-color: var(--color-base-gray-100);
}

header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 700;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}

ul li.active {
  color: var(--color-base-gray-900);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

footer p {
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}
